{% extends 'base.html.twig' %}

{% block title %}Coincoins Liste{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hello {{ app.user.aka }} !<br>Tu es bien Admin ✅</h1>
    </div>
{% endblock %}
